.sixthSection{
    &__grid{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(21, 50px);
        grid-template-rows: repeat(8, 50px);
        justify-items: center;
        grid-gap: 3px;
        &-zaglushka{
            grid-column-start: 1;
            grid-column-end: 22;
        }
        &-button{
            width: 50px;
            background-color: #D9D9D9;
            border: none;
        }
    }
    &__info{
        margin-top: 50px;
        &-div{
            display: flex;
            margin-top: 10px;
            align-items: center;
            &_kvadrat{
                
                &-red{
                    background-color: red;
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                }
                &-green{
                    background-color: green;
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                }
                &-grey{
                    background-color: #D9D9D9;
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                }
            }
            &_info{
                margin-left: 10px;
            }
        }
    }
}

.green{
    background-color: green;
}

.grey{
    background-color: #D9D9D9;
}

